body 
	{
		background-color: #363636;
	}
	#input
	{
		position:absolute;
		transition: .5s ease;
		left: 115px;
		top: 180px;
	}
	
	#output
	{
		position:absolute;
		transition: .5s ease;
		left: 665px;
		top: 180px;
	}
	
	#VERTEX_output
	{
		position:absolute;
		transition: .5s ease;
		left: 545px;
		top: 590px;
	}
	
	#CREATE_EVENT_output
	{
		position:absolute;
		transition: .5s ease;
		left: 950px;
		top: 180px;
	}
	#DRAW_EVENT_output
	{
		position:absolute;
		transition: .5s ease;
		left: 950px;
		top: 440px;
	}

	#WARNINGS_output
	{
		position:absolute;
		transition: .5s ease;
		left: 950px;
		top: 700px;
	}
	
	#convert 
	{
	 	background-color: rgb(167, 167, 167);
		padding: .5em;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		border-radius: 6px;
		color: #fff;
		font-family: 'Arial';
		font-size: 20px;
		text-decoration: none;
		border: none;
		
		position:absolute;
		transition: .5s ease;
		left: 435px;
		top: 570px;
	}
#convert:hover 
	{
	 border: none;
	 background: #52FCDA;
	 box-shadow: 0px 0px 1px #777;
	}
	
	#convert:active
	{
	 background: #1abc9c;		
	}

.header 
{
  	padding: .2px;
  	text-align:center;
  	background: #1abc9c;
  	color: white;
	font-family: 'Arial';
  	font-size: 20px;
	margin: -10px;
}

.label 
	{
	  color: white;
	  font-family: Arial;
	  position:absolute;
	}
	.l1{ left:115px; top: 160px;}	/*Shadertoy code*/
	.l2{ left:545px; top: 160px;}	/*GM shader code */
	.l3{ left:960px; top: 160px;}	/*Obj create event code */
	.l4{ left:545px; top: 570px;}	/*vertex code*/
	.l5{ left:960px; top: 420px;}	/*Obj Draw-Event Code*/
	.l6{ left:120px; top: 630px; font-size: 14px;}	/*Steps and notes */
	.l7{ left:960px; top: 680px;}	/*warnings */
	
